1. Tentukan library yang digunakan

In [56]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

2. Load dataset

In [57]:
student_dataset = pd.read_csv('student.csv')

In [58]:
student_dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1

In [59]:
student_dataset.shape

(395, 30)

In [60]:
student_dataset['pass'].value_counts()

1    265
0    130
Name: pass, dtype: int64

In [61]:
#Memisahkan data dan label
X = student_dataset.drop (columns='pass', axis=1)
Y = student_dataset['pass']

In [62]:
print(X)

     school  sex  age  address  famsize  Pstatus  Medu  Fedu  traveltime  \
0         1    1   18        1        0        0     4     4           2
1         1    1   17        1        0        1     1     1           1
2         1    1   15        1        1        1     1     1           1
3         1    1   15        1        0        1     4     2           1
4         1    1   16        1        0        1     3     3           1
..      ...  ...  ...      ...      ...      ...   ...   ...         ...
390       0    0   20        1        1        0     2     2           1
391       0    0   17        1        1        1     3     1           2
392       0    0   21        0        0        1     1     1           1
393       0    0   18        0        1        1     3     2           3
394       0    0   19        1        1        1     1     1           1

     studytime  ...  famrel  freetime  goout  Dalc  Walc  health  absences  \
0            2  ...       4         3      4     1     1       3         6
1            2  ...       5         3      3     1     1       3         4
2            2  ...       4         3      2     2     3       3        10
3            3  ...       3         2      2     1     1       5         2
4            2  ...       4         3      2     1     2       5         4
..         ...  ...     ...       ...    ...   ...   ...     ...       ...
390          2  ...       5         5      4     4     5       4        11
391          1  ...       2         4      5     3     4       2         3
392          1  ...       5         5      3     3     3       3         3
393          1  ...       4         4      1     3     4       5         0
394          1  ...       3         2      3     3     3       5         5

     G1  G2  G3
0     5   6   6
1     5   5   6
2     7   8  10
3    15  14  15
4     6  10  10
..   ..  ..  ..
390   9   9   9
391  14  16  16
392  10   8   7
393  11  12  10
394   8   9   9

[395 rows x 29 columns]

In [63]:
print(Y)

0      0
1      0
2      1
3      1
4      1
      ..
390    0
391    1
392    0
393    1
394    0
Name: pass, Length: 395, dtype: int64

4. Memisahkan data training dan data testing

In [64]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, stratify=Y, random_state=2)

In [65]:
print(X.shape, X_train.shape, X_test.shape)

(395, 29) (316, 29) (79, 29)

model training

In [66]:
model = LogisticRegression()

In [67]:
model.fit(X_train, Y_train)

c:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

6. membuat model evaluasi untuk mengukur tingkat akurasi

In [68]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [69]:
print('Akurasi Data Testing adalah =', training_data_accuracy)

Akurasi Data Testing adalah = 1.0

In [70]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [71]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.9873417721518988

7. Membuat model prediksi

In [72]:
input_data = (1,0,17,1,0,1,3,2,1,1,3,0,1,0,1,1,1,1,0,5,5,5,2,4,5,16,6,5,5)
input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)
std_data = scaler.transform(input_data_reshape)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
    print ('Nilai Siswa Tidak Lulus')
else :
    print('Nilai Siswa Lulus')

[[ 0.3630498  -1.05465609  0.23837976  0.53539233 -0.63694109  0.34032221
   0.22923423 -0.47985677 -0.64324947 -1.23535078  3.58932316 -0.38504002
   0.7951298  -0.91967081  0.98243276  0.50789938  0.23094011  0.44789274
  -0.70844982  1.17886012  1.76880766  1.70086658  0.58338539  1.32854454
   1.04106985  1.28752563 -1.48080689 -1.52097927 -1.18348259]]
[0]
Nilai Siswa Tidak Lulus

c:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

8. simpan model

In [73]:
import pickle

In [74]:
filename = 'student_model.sav'
pickle.dump(classifier, open(filename, 'wb'))